* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.wdth100 {
    width: 100%;
    height: 100%;
    
}

.wrap {
    flex-wrap: wrap;
}

.jstf-spcbtwnn {
    justify-content: space-between;
}

.algn-spcbwtnn {
    align-content:space-between;
}

.hcalc {
    height:calc(82vh / 5 - 18px);
}

.wdth-calc {
    width:calc(100% /7 - 5px);
}

.mr0auto {
    margin: 0 auto;
}

.wdth90 {
    width: 90%;
}

.h8 {
    height: 8vh;
}

.h84 {
    height: 84vh;
}

.h82 {
    height: 80vh;
}

.padd-2 {
    padding: 2vh 0;
}

.gray {
    background-color: rgb(34,34,34)
}

.img {
    height: 100%;
    overflow: hidden;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bck-gray {
    background-color: rgba(88, 88, 88, 0.744);
    padding: 2px 5px;
}

.txt-white {
    color: white;
}