* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
}

.padd-bott5 {
    padding-bottom: ;
}

.mar-bot10 {
    margin-bottom: 10%;
}
.wrap {
    flex-wrap: wrap;
}

.jstf-spcbtwnn {
    justify-content: space-between;
}

.algn-spcbwtnn {
    align-content:space-between;
}
.provacolore {
    background-color: antiquewhite;
}

.provacolore2 {
    background-color: brown;
}

.hcalc {
    height:calc(82vh / 5 - 15px);
}

.wdth-calc {
    width:calc(100% /7 - 5px);}

.wdth-100 {
    width: 100%;
}

.mr0auto {
    margin: 0 auto;
}

.wdth90 {
    width: 90%;
}

.h8 {
    height: 8vh;
}

.h84 {
    height: 84vh;
}

.h82 {
    height: 80vh;
}

.padd-2 {
    padding: 2vh 0;
}
.gray {
    background-color: rgb(34,34,34)
}


.hauto {
    height:auto;
}

.h100percent {
    height: 100%;
    margin-top: 2%;
    margin-bottom: 8%;
}

.mar10tb {
    margin: 10% 0;
}