
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.maincontainer {
    background-color: black;
    width: 100vw;
    height: 100vh;
}

/* flex */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.jstf-spcbtwnn {
    justify-content: space-between;
}

.jstf-end {
    justify-content: flex-end;
}

.algn-spcbwtnn {
    align-content:space-between;
}

.algn-cntr {
    align-items: center;
}

.block {
    display: block;
}

/* dimensioni */

.wdth100 {
    width: 100%;
    height: 100%;
    
}

.hcalc {
    height:calc(82vh / 5 - 18px);
}

.wdth-calc {
    width:calc(100% /7 - 5px);
}

.wdth90 {
    width: 90%;
}

.h8 {
    height: 8vh;
}

.h84 {
    height: 84vh;
}

.h82 {
    height: 80vh;
}

/* margini */

.mr0auto {
    margin: 0 auto;
}
.mrr-5px {
    margin-right: 5px;
}

.mr-left20 {
    margin-left: 20px;
}

.mrg-bot5 {
    margin-bottom: 5px;
}

.padd-2 {
    padding: 2vh 0;
}





.img {
    height: 100%;
    overflow: hidden;
    
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* colori */
.gray {
    background-color: rgb(34,34,34)
}

.bck-gray {
    background-color: rgba(88, 88, 88, 0.744);
    padding: 2px 5px;
}

.txt-green {
    color: rgb(75,200,0);
}

.txt-white {
    color: white;
}


/* testi */
.txt-centre {
    text-align:center;
}

.txt-red {
    color: red;
}

.font14 {
    font-size: 14px;
}

.lnhgt-16 {
    line-height: 16px;
}

.font20 {
    font-size: 20;
    font-weight: bolder;
}

.font50 {
    font-size: 30px;
}

.brd-radius {
border-radius: 5px;
}

.bck-graylight {
    background-color: rgb(74,74,74);
    padding: 5px 10px;
}

.button {
    background-color: gray;
    padding: 20px 50px;
    border: 1px solid red;
    border-radius: 20px;

}


/* hover */

.red:hover {
    color: red;
}

.green:hover {
    color: rgb(75,200,0);
}

.blue:hover {
    color: cornflowerblue;
}

.yellow:hover {
    color: darkgoldenrod;
}

.wdth-calc:hover .p-absolute{
    display: none;
}
